PORT=3000
DATABASE_PATH=./kiosco.sqlite
WABA_ACCESS_TOKEN=tu_token_aqui
WABA_PHONE_NUMBER_ID=tu_phone_number_id_aqui
WABA_BUSINESS_ACCOUNT_ID=tu_business_account_id_aqui
DESTINATION_PHONE_NUMBER=54911XXXXXXXX
INTERNAL_API_KEY=tu_api_key_interna_aqui
